<!DOCTYPE html>
<html>
<head>
  <title>Panicbutton</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <style type="text/css">
      html {
          height: 100%
      }

      body {
          height: 100%;
          margin: 0;
          padding: 20px;
      }

      #map_canvas {
          height: 90%;
      }
  </style>
  <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD64KYeqwB4-lDUY_B3VKWSK8uXezMJD6o&sensor=true">
  </script>
  <script type="text/javascript">
      function setMarker(map, infowindow, lat, long, message) {
          var myLatlng = new google.maps.LatLng(lat, long);

          var marker = new google.maps.Marker({
              position: myLatlng,
              animation: google.maps.Animation.DROP,
              title:message
          });

          marker.setMap(map);

          google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(message);
              infowindow.setPosition(myLatlng);
              infowindow.open(map);
          });

          marker.setMap(map);
      }
      function initialize() {
          var myOptions = {
              center: new google.maps.LatLng(51.51333, -0.088947),
              zoom: 7,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
          var infowindow = new google.maps.InfoWindow();
      <% @alerts.select {|alert| alert.geo_code.split(',')[0].present? && alert.geo_code.split(',')[1].present? }.each do |alert| %>
          setMarker(map, infowindow, <%= alert.geo_code.split(',')[0] %>, <%= alert.geo_code.split(',')[1] %>, '<%= alert.message %>');
      <% end %>
      }
  </script>
</head>
<body onload="initialize()">
<div id="map_canvas"></div>
</body>
</html>
